@import "variables";

.badge {
    display: inline-block;
    padding: .1rem .5rem;
    font-size: 0.8em;
    margin-right: $gutter-size;
    border: 2px solid $color-base;
    border-radius: 1em;
    color: $color-text-base;
    cursor: pointer;
    background-color: transparent;
    font-weight: 800;
    line-height: 1.2rem;
    text-align: center;
    min-width: 3rem;
}

.badge-info {
    // background-color: $color-base-light;
    border-color: $color-base-light;
    color: $color-base-light;
}

.badge-primary {
    // background-color: $color-primary;
    color: $color-primary;
    border-color: $color-primary;
}

.badge-success {
    // background-color: $color-success;
    color: $color-success;
    border-color: $color-success;
}

.badge-warning {
    // background-color: $color-warning;
    color: $color-warning;
    border-color: $color-warning;
}
