.c_postslist {
    width: 100%;
}

.c_postslistitem {
    display: flex;
    border-bottom: 1px solid $color-separator;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-radius: $border-radius;
    padding: $gutter-size;
    margin-bottom: $gutter-size;
}

.c_postslistitem_info {
    flex: 1 1 auto;
}

.c_postslistitem_status {
    text-align: left;
    display: flex;
    align-items: center;
}

.c_postlistitem_posttype {
    font-size: 0.8em;
    color: $color-base-light;
}

.c_postslistitem_title {
    display: block;
    font-size: 1.2em;
    margin-bottom: $gutter-size;
    font-weight: 700;
}

.c_postslistitem_published {
    font-size: 0.8em;
    color: $color-base-light;
}