.layout {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: $container-width; 
    padding-right: $container-padding;
    padding-left:  $container-padding;
}

.header {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    justify-content: flex-end;
    align-items: center;
}

.header_title {
    flex: 1 1 auto;
}