$base-font-stack: Helvetica, Sans-Serif;

$container-width: 980px;
$container-padding: 10px;
$container-width: $container-width - ($container-padding * 2);

$color-base: #555;
$color-base-light: lighten($color-base, 20%);
$color-secondary: #ECF0F5;
$color-separator: darken($color-secondary, 20%);
$color-primary: #177BBB;
$color-text-base: $color-base;
$color-text-secondary: $color-secondary;
$color-warning: #EA3535;
$color-success: #109648;

$border-radius: 0.12em;
$gutter-size: 0.5em;


